body {
	height: 200px;
	margin: 5em auto;
	background-color: #FFD6D6;
	font-size: 10px;
	padding: 5em;
	text-align: left;
}



h1 {
	color: #000000;
	font-size: 5em;
	font-family: 'Oswald', sans-serif;
}

h2 {
	color: #000000;
	font-size: 5em;
	font-family: 'Oswald', sans-serif;
}

h3 {
	color: #000000;
	font-size: 5em;
	font-family: 'Oswald', sans-serif;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	position: fixed;
	top: 0;
	width: 100%;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 2em;
}

li a:hover:not(.active){
	background-color: #111;
}

.active {
	background-color: #4CAF50;
}

p {
	font-family: 'Merriweather', serif;
	color: #000000;
	max-width: 100em;
	width: 100%;
	text-align: left;
	margin: 2em auto 2em auto;
	font-size: 2em;
	line-height: 1.3;
}

img.logo {
	width: 100%;
	height: auto;
	max-width: 400px;
	max-height: 400px;
	margin: 5em auto;
}
